In [1]:
# pyspark --packages com.datastax.spark:spark-cassandra-connector_2.12:3.1.0

import findspark
findspark.init()
import os
import time
import datetime
import pyspark.sql.functions as sf
from uuid import *
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import when
from pyspark.sql.functions import col
from pyspark.sql.types import *
from pyspark.sql.functions import lit
from pyspark import SparkConf, SparkContext
from uuid import * 
from uuid import UUID
import time_uuid 
from pyspark.sql import Row
from pyspark.sql.functions import udf
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.window import Window as W
from pyspark.sql import functions as F
    
spark = SparkSession.builder.config('spark.jars.packages', 'com.datastax.spark:spark-cassandra-connector_2.12:3.1.0').getOrCreate()

def calculating_clicks(df):
    clicks_data = df.filter(df.custom_track == 'click')
    clicks_data = clicks_data.na.fill({'bid':0})
    clicks_data = clicks_data.na.fill({'job_id':0})
    clicks_data = clicks_data.na.fill({'publisher_id':0})
    clicks_data = clicks_data.na.fill({'group_id':0})
    clicks_data = clicks_data.na.fill({'campaign_id':0})
    clicks_data.registerTempTable('clicks')
    clicks_output = spark.sql(""" 
        SELECT 
            date(ts) as date,
            hour(ts) as hour,
            job_id,
            publisher_id,
            campaign_id,
            group_id,
            round(avg(bid),2) as bid_set, 
            sum(bid) as spend_hour, 
            count(*) as click 
        FROM clicks 
        GROUP BY date(ts), hour(ts), job_id, publisher_id, campaign_id, group_id 
    """)
    return clicks_output 
    
def calculating_conversion(df):
    conversion_data = df.filter(df.custom_track == 'conversion')
    conversion_data = conversion_data.na.fill({'job_id':0})
    conversion_data = conversion_data.na.fill({'publisher_id':0})
    conversion_data = conversion_data.na.fill({'group_id':0})
    conversion_data = conversion_data.na.fill({'campaign_id':0})
    conversion_data.registerTempTable('conversion')
    conversion_output = spark.sql(""" 
        SELECT 
            date(ts) as date,
            hour(ts) as hour,   
            job_id,
            publisher_id,
            campaign_id,
            group_id, 
            count(*) as conversion 
        FROM conversion 
        GROUP BY date(ts), hour(ts), job_id, publisher_id, campaign_id, group_id 
    """)
    return conversion_output 
    
def calculating_qualified(df):    
    qualified_data = df.filter(df.custom_track == 'qualified')
    qualified_data = qualified_data.na.fill({'job_id':0})
    qualified_data = qualified_data.na.fill({'publisher_id':0})
    qualified_data = qualified_data.na.fill({'group_id':0})
    qualified_data = qualified_data.na.fill({'campaign_id':0})
    qualified_data.registerTempTable('qualified')
    qualified_output = spark.sql(""" 
        SELECT 
            date(ts) as date,
            hour(ts) as hour,
            job_id,
            publisher_id,
            campaign_id,
            group_id, 
            count(*) as qualified 
        FROM qualified 
        GROUP BY date(ts), hour(ts), job_id, publisher_id, campaign_id, group_id 
    """)
    return qualified_output
    
def calculating_unqualified(df):
    unqualified_data = df.filter(df.custom_track == 'unqualified')
    unqualified_data = unqualified_data.na.fill({'job_id':0})
    unqualified_data = unqualified_data.na.fill({'publisher_id':0})
    unqualified_data = unqualified_data.na.fill({'group_id':0})
    unqualified_data = unqualified_data.na.fill({'campaign_id':0})
    unqualified_data.registerTempTable('unqualified')
    unqualified_output = spark.sql(""" 
        SELECT 
            date(ts) as date,
            hour(ts) as hour,
            job_id,
            publisher_id,
            campaign_id,
            group_id, 
            count(*) as unqualified 
        FROM unqualified 
        GROUP BY date(ts), hour(ts), job_id, publisher_id, campaign_id, group_id 
    """)
    return unqualified_output
    
def process_final_data(clicks_output,conversion_output,qualified_output,unqualified_output):
    final_data = clicks_output.join(conversion_output,['job_id','date','hour','publisher_id','campaign_id','group_id'],'full').\
    join(qualified_output,['job_id','date','hour','publisher_id','campaign_id','group_id'],'full').\
    join(unqualified_output,['job_id','date','hour','publisher_id','campaign_id','group_id'],'full')
    return final_data 
    
def process_cassandra_data(df):
    print('Processing Calculation Clicks')
    clicks_output = calculating_clicks(df)
    print('Processing Calculation Conversion')
    conversion_output = calculating_conversion(df)
    print('Processing Calculation Qualified')
    qualified_output = calculating_qualified(df)
    print('Processing Calculation Unqualified')
    unqualified_output = calculating_unqualified(df)
    print('Processing Join Data')
    final_data = process_final_data(clicks_output,conversion_output,qualified_output,unqualified_output)
    return final_data
    
def retrieve_company_data(url,driver,user,password):
    sql = """(SELECT id as job_id, company_id, group_id, campaign_id FROM job) test"""
    company = spark.read.format('jdbc').options(url=url, driver=driver, dbtable=sql, user=user, password=password).load()
    return company 
    
def import_to_mysql(output):
    final_output = output.select('job_id','date','hour','publisher_id','company_id','campaign_id','group_id','unqualified','qualified','conversion','click','bid_set','spend_hour', 'Last_Updated_At')
    # final_output = final_output.withColumnRenamed('date','dates').withColumnRenamed('hour','hours').withColumnRenamed('qualified','qualified_application').\
    # withColumnRenamed('unqualified','disqualified_application').withColumnRenamed('conversions','conversion')
    final_output = final_output.withColumn('sources',lit('Cassandra'))
    final_output.write.format("jdbc") \
    .option("driver","com.mysql.cj.jdbc.Driver") \
    .option("url", "jdbc:mysql://localhost:3306/Data_Warehouse") \
    .option("dbtable", "events_etl") \
    .mode("append") \
    .option("user", "root") \
    .option("password", "1") \
    .save()
    return print('Data imported successfully')

def last_updated_time(df, final_output):
    last_update_time = df.select(F.max("ts")).collect()[0][0]
    final_output = final_output.withColumn("Last_Updated_At", F.lit(last_update_time))
    return final_output

def main_task(mysql_time):
    host = 'localhost'
    port = '3306'
    db_name = 'Data_Warehouse'
    user = 'root'
    password = '1'
    url = 'jdbc:mysql://' + host + ':' + port + '/' + db_name
    driver = "com.mysql.cj.jdbc.Driver"
    print('------ Data Warehouse --------')
    print('The host is:' ,host)
    print('The port using is: ',port)
    print('The db using is: ',db_name)
    print('------------------------------')
    print('Retrieving data from Cassandra')
    print('------------------------------')
    df = spark.read.format("org.apache.spark.sql.cassandra").options(table="tracking",keyspace="study_data_engineering").load().filter(col('ts') > mysql_time)
    print('------------------------------')
    print('Selecting data from Cassandra')
    print('------------------------------')
    df = df.select('ts','job_id','custom_track','bid','campaign_id','group_id','publisher_id')
    df = df.filter(df.job_id.isNotNull())
    df.printSchema()
    print('------------------------------')
    print('Processing Cassandra Output')
    print('------------------------------')
    cassandra_output = process_cassandra_data(df)
    print('------------------------------')
    print('Merge Company Data')
    print('-----------------------------')
    company = retrieve_company_data(url,driver,user,password)
    join_output = cassandra_output.join(company,'job_id','left').drop(company.group_id).drop(company.campaign_id)
    print('-----------------------------')
    print('Add column Last Updated Time (CDC) near real time')
    print('-----------------------------')
    final_output = last_updated_time(df, join_output)
    print('-----------------------------')
    print('Data Final Output')
    print('-----------------------------')
    final_output.show()
    print('-----------------------------')
    print('Import Output to MySQL')
    print('-----------------------------')
    import_to_mysql(final_output)
    return print('Task Finished')
    
def get_latest_time_cassandra():
    data = spark.read.format("org.apache.spark.sql.cassandra").options(table = 'tracking',keyspace = 'study_data_engineering').load()
    cassandra_latest_time = data.agg({'ts':'max'}).take(1)[0][0]
    return cassandra_latest_time

def get_mysql_latest_time(url,driver,user,password):    
    sql = """(select max(Last_Updated_At) from events_etl) data"""
    mysql_time = spark.read.format('jdbc').options(url=url, driver=driver, dbtable=sql, user=user, password=password).load()
    mysql_time = mysql_time.take(1)[0][0]
    if mysql_time is None:
        mysql_latest = '1998-01-01 23:59:59'
    else :
        # mysql_latest = mysql_time.strftime('%Y-%m-%d %H:%M:%S')
        mysql_latest = mysql_time
    return mysql_latest 

host = 'localhost'
port = '3306'
db_name = 'Data_Warehouse'
user = 'root'
password = '1'
url = 'jdbc:mysql://' + host + ':' + port + '/' + db_name
driver = "com.mysql.cj.jdbc.Driver"

while True :
    start_time = datetime.datetime.now()
    cassandra_time = get_latest_time_cassandra()
    print('--------------------------------------------------')
    print('Cassandra latest time is {}'.format(cassandra_time))
    mysql_time = get_mysql_latest_time(url,driver,user,password)
    print('MySQL latest time is {}'.format(mysql_time))
    if cassandra_time > mysql_time : 
        main_task(mysql_time)
    else :
        print("No new data found")
    end_time = datetime.datetime.now()
    execution_time = (end_time - start_time).total_seconds()
    print('Job takes {} seconds to execute'.format(execution_time))
    time.sleep(10)

--------------------------------------------------
Cassandra latest time is 2024-06-16 13:22:00
MySQL latest time is 2024-06-16 13:22:00
No new data found
Job takes 15.649436 seconds to execute
--------------------------------------------------
Cassandra latest time is 2024-06-16 13:22:00
MySQL latest time is 2024-06-16 13:22:00
No new data found
Job takes 1.492338 seconds to execute
--------------------------------------------------
Cassandra latest time is 2024-06-16 13:22:00
MySQL latest time is 2024-06-16 13:22:00
No new data found
Job takes 0.706121 seconds to execute
--------------------------------------------------
Cassandra latest time is 2024-06-16 13:32:27
MySQL latest time is 2024-06-16 13:22:00
------ Data Warehouse --------
The host is: localhost
The port using is:  3306
The db using is:  Data_Warehouse
------------------------------
Retrieving data from Cassandra
------------------------------
------------------------------
Selecting data from Cassandra
------------------------------
root
 |-- ts: string (nullable = true)
 |-- job_id: double (nullable = true)
 |-- custom_track: string (nullable = true)
 |-- bid: double (nullable = true)
 |-- campaign_id: double (nullable = true)
 |-- group_id: double (nullable = true)
 |-- publisher_id: double (nullable = true)

------------------------------
Processing Cassandra Output
------------------------------
Processing Calculation Clicks

C:\spark\spark-3.5.0-bin-hadoop3\python\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

Processing Calculation Conversion
Processing Calculation Qualified
Processing Calculation Unqualified
Processing Join Data
------------------------------
Merge Company Data
-----------------------------
-----------------------------
Add column Last Updated Time (CDC) near real time
-----------------------------
-----------------------------
Data Final Output
-----------------------------
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+
|job_id|      date|hour|publisher_id|campaign_id|group_id|bid_set|spend_hour|click|conversion|qualified|unqualified|company_id|    Last_Updated_At|
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+
| 878.0|2024-06-16|  13|         1.0|       12.0|    17.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:27|
| 551.0|2024-06-16|  13|         4.0|       10.0|    18.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:32:27|
| 288.0|2024-06-16|  13|        23.0|       69.0|    11.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:32:27|
|1549.0|2024-06-16|  13|        23.0|      221.0|    25.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|       241|2024-06-16 13:32:27|
|1300.0|2024-06-16|  13|        31.0|       61.0|    32.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        40|2024-06-16 13:32:27|
| 978.0|2024-06-16|  13|        38.0|        1.0|    41.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:32:27|
|2050.0|2024-06-16|  13|        12.0|       11.0|    27.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:27|
|  93.0|2024-06-16|  13|        16.0|       10.0|    10.0|   NULL|      NULL| NULL|         1|     NULL|       NULL|         1|2024-06-16 13:32:27|
|1352.0|2024-06-16|  13|        13.0|       79.0|    22.0|   NULL|      NULL| NULL|      NULL|        1|       NULL|         1|2024-06-16 13:32:27|
|1256.0|2024-06-16|  13|        22.0|       61.0|    32.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        40|2024-06-16 13:32:27|
|  73.0|2024-06-16|  13|        35.0|       53.0|    15.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:27|
| 967.0|2024-06-16|  13|        35.0|       10.0|    25.0|   NULL|      NULL| NULL|      NULL|        1|       NULL|        33|2024-06-16 13:32:27|
|1788.0|2024-06-16|  13|        27.0|       48.0|    10.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:32:27|
|1180.0|2024-06-16|  13|        38.0|       10.0|    21.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:27|
| 446.0|2024-06-16|  13|        33.0|        5.0|    10.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:32:27|
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+

-----------------------------
Import Output to MySQL
-----------------------------
Data imported successfully
Task Finished
Job takes 12.115041 seconds to execute
--------------------------------------------------
Cassandra latest time is 2024-06-16 13:32:48
MySQL latest time is 2024-06-16 13:32:27
------ Data Warehouse --------
The host is: localhost
The port using is:  3306
The db using is:  Data_Warehouse
------------------------------
Retrieving data from Cassandra
------------------------------
------------------------------
Selecting data from Cassandra
------------------------------
root
 |-- ts: string (nullable = true)
 |-- job_id: double (nullable = true)
 |-- custom_track: string (nullable = true)
 |-- bid: double (nullable = true)
 |-- campaign_id: double (nullable = true)
 |-- group_id: double (nullable = true)
 |-- publisher_id: double (nullable = true)

------------------------------
Processing Cassandra Output
------------------------------
Processing Calculation Clicks
Processing Calculation Conversion
Processing Calculation Qualified
Processing Calculation Unqualified
Processing Join Data
------------------------------
Merge Company Data
-----------------------------
-----------------------------
Add column Last Updated Time (CDC) near real time
-----------------------------
-----------------------------
Data Final Output
-----------------------------
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+
|job_id|      date|hour|publisher_id|campaign_id|group_id|bid_set|spend_hour|click|conversion|qualified|unqualified|company_id|    Last_Updated_At|
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+
|2044.0|2024-06-16|  13|        30.0|       90.0|    18.0|   NULL|      NULL| NULL|      NULL|     NULL|          1|         1|2024-06-16 13:32:48|
|1539.0|2024-06-16|  13|        20.0|        1.0|    15.0|   NULL|      NULL| NULL|      NULL|        1|       NULL|         1|2024-06-16 13:32:48|
| 137.0|2024-06-16|  13|        28.0|       48.0|    10.0|   NULL|      NULL| NULL|      NULL|     NULL|          1|         1|2024-06-16 13:32:48|
| 493.0|2024-06-16|  13|        27.0|       33.0|    10.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:48|
|1223.0|2024-06-16|  13|        23.0|       48.0|    10.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:48|
|2020.0|2024-06-16|  13|         5.0|       70.0|    27.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:48|
|2020.0|2024-06-16|  13|        32.0|      144.0|    41.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:48|
| 391.0|2024-06-16|  13|        36.0|      127.0|    27.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:32:48|
| 392.0|2024-06-16|  13|        24.0|        1.0|    10.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:32:48|
|1213.0|2024-06-16|  13|        30.0|       61.0|    35.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:48|
| 454.0|2024-06-16|  13|         3.0|       61.0|    19.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:32:48|
|1793.0|2024-06-16|  13|        11.0|        1.0|    16.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:32:48|
|1808.0|2024-06-16|  13|        10.0|        1.0|    14.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:32:48|
|  92.0|2024-06-16|  13|        16.0|        1.0|    10.0|   NULL|      NULL| NULL|      NULL|     NULL|          1|         1|2024-06-16 13:32:48|
|1386.0|2024-06-16|  13|        34.0|       55.0|    10.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:32:48|
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+

-----------------------------
Import Output to MySQL
-----------------------------
Data imported successfully
Task Finished
Job takes 7.702571 seconds to execute
--------------------------------------------------
Cassandra latest time is 2024-06-16 13:32:48
MySQL latest time is 2024-06-16 13:32:48
No new data found
Job takes 0.7985 seconds to execute
--------------------------------------------------
Cassandra latest time is 2024-06-16 13:33:09
MySQL latest time is 2024-06-16 13:32:48
------ Data Warehouse --------
The host is: localhost
The port using is:  3306
The db using is:  Data_Warehouse
------------------------------
Retrieving data from Cassandra
------------------------------
------------------------------
Selecting data from Cassandra
------------------------------
root
 |-- ts: string (nullable = true)
 |-- job_id: double (nullable = true)
 |-- custom_track: string (nullable = true)
 |-- bid: double (nullable = true)
 |-- campaign_id: double (nullable = true)
 |-- group_id: double (nullable = true)
 |-- publisher_id: double (nullable = true)

------------------------------
Processing Cassandra Output
------------------------------
Processing Calculation Clicks
Processing Calculation Conversion
Processing Calculation Qualified
Processing Calculation Unqualified
Processing Join Data
------------------------------
Merge Company Data
-----------------------------
-----------------------------
Add column Last Updated Time (CDC) near real time
-----------------------------
-----------------------------
Data Final Output
-----------------------------
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+
|job_id|      date|hour|publisher_id|campaign_id|group_id|bid_set|spend_hour|click|conversion|qualified|unqualified|company_id|    Last_Updated_At|
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+
|1226.0|2024-06-16|  13|        37.0|        5.0|    41.0|   NULL|      NULL| NULL|      NULL|     NULL|          1|         1|2024-06-16 13:33:09|
| 663.0|2024-06-16|  13|         3.0|       11.0|    26.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:33:09|
| 491.0|2024-06-16|  13|         2.0|       61.0|    41.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         8|2024-06-16 13:33:09|
| 920.0|2024-06-16|  13|        12.0|      117.0|    32.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|       165|2024-06-16 13:33:09|
| 423.0|2024-06-16|  13|        34.0|        1.0|    25.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:09|
| 618.0|2024-06-16|  13|        23.0|       58.0|    18.0|   NULL|      NULL| NULL|      NULL|     NULL|          1|        33|2024-06-16 13:33:09|
|1528.0|2024-06-16|  13|        27.0|       48.0|    41.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:09|
| 502.0|2024-06-16|  13|         9.0|        1.0|    10.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:33:09|
|1416.0|2024-06-16|  13|        11.0|       11.0|    18.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:09|
|1122.0|2024-06-16|  13|        34.0|       61.0|    16.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:33:09|
| 102.0|2024-06-16|  13|        32.0|      193.0|    26.0|   NULL|      NULL| NULL|         1|     NULL|       NULL|         1|2024-06-16 13:33:09|
|1700.0|2024-06-16|  13|        33.0|        1.0|    11.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:33:09|
|1555.0|2024-06-16|  13|        20.0|       10.0|    32.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:33:09|
|1261.0|2024-06-16|  13|        28.0|        1.0|    35.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        40|2024-06-16 13:33:09|
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+

-----------------------------
Import Output to MySQL
-----------------------------
Data imported successfully
Task Finished
Job takes 6.033179 seconds to execute
--------------------------------------------------
Cassandra latest time is 2024-06-16 13:33:30
MySQL latest time is 2024-06-16 13:33:09
------ Data Warehouse --------
The host is: localhost
The port using is:  3306
The db using is:  Data_Warehouse
------------------------------
Retrieving data from Cassandra
------------------------------
------------------------------
Selecting data from Cassandra
------------------------------
root
 |-- ts: string (nullable = true)
 |-- job_id: double (nullable = true)
 |-- custom_track: string (nullable = true)
 |-- bid: double (nullable = true)
 |-- campaign_id: double (nullable = true)
 |-- group_id: double (nullable = true)
 |-- publisher_id: double (nullable = true)

------------------------------
Processing Cassandra Output
------------------------------
Processing Calculation Clicks
Processing Calculation Conversion
Processing Calculation Qualified
Processing Calculation Unqualified
Processing Join Data
------------------------------
Merge Company Data
-----------------------------
-----------------------------
Add column Last Updated Time (CDC) near real time
-----------------------------
-----------------------------
Data Final Output
-----------------------------
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+
|job_id|      date|hour|publisher_id|campaign_id|group_id|bid_set|spend_hour|click|conversion|qualified|unqualified|company_id|    Last_Updated_At|
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+
| 180.0|2024-06-16|  13|        17.0|       12.0|    17.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:30|
| 317.0|2024-06-16|  13|        33.0|       12.0|    26.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:30|
| 418.0|2024-06-16|  13|        32.0|        1.0|    35.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:33:30|
| 470.0|2024-06-16|  13|        20.0|       61.0|    16.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:30|
| 502.0|2024-06-16|  13|        10.0|       48.0|    10.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:33:30|
| 543.0|2024-06-16|  13|        20.0|       10.0|    10.0|   NULL|      NULL| NULL|      NULL|        1|       NULL|        33|2024-06-16 13:33:30|
| 546.0|2024-06-16|  13|        37.0|       12.0|    10.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:33:30|
| 587.0|2024-06-16|  13|        15.0|       11.0|    32.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:33:30|
| 653.0|2024-06-16|  13|         3.0|       10.0|    32.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:30|
| 735.0|2024-06-16|  13|         5.0|        1.0|    10.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:33:30|
| 963.0|2024-06-16|  13|        36.0|        5.0|    12.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|        33|2024-06-16 13:33:30|
|1001.0|2024-06-16|  13|        35.0|      193.0|    10.0|   NULL|      NULL| NULL|         1|     NULL|       NULL|         2|2024-06-16 13:33:30|
|1397.0|2024-06-16|  13|        22.0|       70.0|    41.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:30|
|1569.0|2024-06-16|  13|        30.0|       61.0|    41.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:33:30|
|1795.0|2024-06-16|  13|        22.0|       79.0|    37.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:33:30|
|1801.0|2024-06-16|  13|        24.0|      103.0|    32.0|    1.0|       1.0|    1|      NULL|     NULL|       NULL|         3|2024-06-16 13:33:30|
|1895.0|2024-06-16|  13|        32.0|       61.0|    17.0|   NULL|      NULL| NULL|      NULL|     NULL|          1|         1|2024-06-16 13:33:30|
|1973.0|2024-06-16|  13|        10.0|       63.0|    12.0|    0.0|       0.0|    1|      NULL|     NULL|       NULL|         1|2024-06-16 13:33:30|
|2042.0|2024-06-16|  13|        33.0|        1.0|    35.0|   NULL|      NULL| NULL|      NULL|        1|       NULL|         1|2024-06-16 13:33:30|
+------+----------+----+------------+-----------+--------+-------+----------+-----+----------+---------+-----------+----------+-------------------+

-----------------------------
Import Output to MySQL
-----------------------------
Data imported successfully
Task Finished
Job takes 5.237387 seconds to execute

KeyboardInterrupt: